	<script>
	

	$(function($) { 
		$("#optionsRadiosMinute1").click(function(){

			$(this).parent().find("select").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
			
			
			$("#optionsRadiosMinutue2").parent().find("input:not(:radio)").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})


		$("#optionsRadiosMinutue2").click(function(){
			$(this).parent().find("input").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
			
			$("#optionsRadiosMinute1").nextAll().find("select").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})

		$("#optionsRadiosHours1").click(function(){
			$("#optionsRadiosHours2").parent().find("input:not(:radio)").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})


		$("#optionsRadiosHours2").click(function(){
			$(this).parent().find("input").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
		})

		$("#optionsRadiosHours1").click(function(){
			$("#optionsRadiosHours2").parent().find("input:not(:radio)").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})


		$("#optionsRadiosHours2").click(function(){
			$(this).parent().find("input").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
		})

		$("#optionsRadiosDay1").click(function(){
			$("#optionsRadiosDay2").parent().find("input:not(:radio)").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})


		$("#optionsRadiosDay2").click(function(){
			$(this).parent().find("input").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
		})

		$("#optionsRadiosMonth1").click(function(){
			$("#optionsRadiosMonth2").parent().find("input:not(:radio)").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})


		$("#optionsRadiosMonth2").click(function(){
			$(this).parent().find("input").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
		})


		$("#optionsRadiosWeek1").click(function(){
			$("#optionsRadiosWeek2").parent().find("input:not(:radio)").each(
				function(){
					$(this).attr("disabled","disabled");
				}
			);
		})


		$("#optionsRadiosWeek2").click(function(){
			$(this).parent().find("input").each(
				function(){
					$(this).removeAttr("disabled")
				}
			);
		})

		

		$('#tab5 :checkbox').click(function(){
			
			if(typeof($(this).attr('checked'))=="undefined")
			{	
				$(this).attr('checked','checked')
				encheckbox();
			}else{
				$(this).removeAttr('checked')
				uncheckbox();
			}
			
		})
		
		


		$("[id^='tab'] :radio").each(function(){
				if(typeof($(this).attr('checked'))=="undefined")
				{	
					
					$(this).nextAll().find("input").each(
								function(){
									$(this).attr("disabled", "disabled");
									})
				}
		});
		uncheckbox()
		
		function uncheckbox(){
			$("#tab5 :checkbox").each(function(){
				$(this).removeAttr('checked');
				$("#tab5").find("input:not(:checkbox)").each(
								function(){
									$(this).attr("disabled", "disabled");
									})
				
			});
		}

		function encheckbox(){
			$("#tab5").find("input:not(:checkbox)").each(
								function(){
									$(this).removeAttr("disabled");
									})	
		}
	  })
    

    
       //
    </script>
	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
      <div class="tabbable"> <!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#tab1" data-toggle="tab">Minute</a></li>
			<li><a href="#tab2" data-toggle="tab">Hour</a></li>
			<li><a href="#tab3" data-toggle="tab">Day</a></li>
			<li><a href="#tab4" data-toggle="tab">Mouth</a></li>
			<li><a href="#tab5" data-toggle="tab">Week</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<label class="radio" >
					<input type="radio" name="optionsRadiosMinute" id="optionsRadiosMinute1" value="option1"  checked="checked" onclick="">
					<strong>Cycle:</strong>
						<div>
					      From <select class='inline'>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
						   Minute,Start,Every
						        <select class='inline'>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
						   Minute Execute
						 </div>
				</label>
				<label class="radio" >
					<input type="radio" name="optionsRadiosMinute" id="optionsRadiosMinutue2" value="option2">
				   <strong>Assign</strong>
				   <hr>
				   <div>
					    <label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox60" value="option60"> 0&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1"> 1&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2"> 2&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox3" value="option3"> 3&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox4" value="option4"> 4&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox5" value="option5"> 5&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox6" value="option6"> 6&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox7" value="option7"> 7&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox8" value="option8"> 8&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox9" value="option9"> 9&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox10" value="option10"> 10
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox11" value="option11"> 11
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox12" value="option12"> 12
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox13" value="option13"> 13
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox14" value="option14"> 14
						</label>
					 </div>
					 <div>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox15" value="option15"> 15
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox16" value="option16"> 16
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox17" value="option17"> 17
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox18" value="option18"> 18
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox19" value="option19"> 19
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox20" value="option20"> 20
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox21" value="option21"> 21
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox22" value="option22"> 22
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox23" value="option23"> 23
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox24" value="option24"> 24
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox25" value="option25"> 25
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox26" value="option26"> 26
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox27" value="option27"> 27
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox28" value="option28"> 28
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox29" value="option29"> 29
						</label>
					 </div>
					 <div>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox30" value="option30"> 30
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox31" value="option31"> 31
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox32" value="option32"> 32
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox33" value="option33"> 33
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox34" value="option34"> 34
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox35" value="option35"> 35
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox36" value="option36"> 36
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox37" value="option37"> 37
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox38" value="option38"> 38
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox39" value="option39"> 39
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox40" value="option40"> 40
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox41" value="option41"> 41
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox42" value="option42"> 42
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox43" value="option43"> 43
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox44" value="option44"> 44
						</label>
					 </div>
					 <div>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox45" value="option45"> 45
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox46" value="option46"> 46
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox47" value="option47"> 47
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox48" value="option48"> 48
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox49" value="option49"> 49
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox50" value="option50"> 50
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox51" value="option51"> 51
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox52" value="option52"> 52
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox53" value="option53"> 53
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox54" value="option54"> 54
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox55" value="option55"> 55
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox56" value="option56"> 56
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox57" value="option57"> 57
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox58" value="option58"> 58
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox59" value="option59"> 59
						</label>
					 </div>
				</label>
			</div>
			<div class="tab-pane" id="tab2">
				<label class="radio">
					<input type="radio" name="optionsRadiosHours" id="optionsRadiosHours1" value="option1" checked="checked">
					<h5>PerHour:</h5>
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadiosHours" id="optionsRadiosHours2" value="option2">
				   <h5>Assign:</h5><br>
				     <hr>
					 <div>
						AM:
					    <label class="checkbox inline">
							;<input type="checkbox" id="inlineCheckbox60" value="option24"> 0&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1"> 1&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2"> 2&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox3" value="option3"> 3&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox4" value="option4"> 4&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox5" value="option5"> 5&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox6" value="option6"> 6&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox7" value="option7"> 7&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox8" value="option8"> 8&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox9" value="option9"> 9&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox10" value="option10"> 10
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox11" value="option11"> 11
						</label>
					 </div>
					 <div>
						PM:
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox12" value="option12"> 12
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox13" value="option13"> 13
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox14" value="option14"> 14
						</label>
	
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox15" value="option15"> 15
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox16" value="option16"> 16
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox17" value="option17"> 17
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox18" value="option18"> 18
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox19" value="option19"> 19
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox20" value="option20"> 20
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox21" value="option21"> 21
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox22" value="option22"> 22
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox23" value="option23"> 23
						</label>
						
					 </div>
				</label>
			</div>
			<div class="tab-pane" id="tab3">
				<label class="radio">
					<input type="radio" name="optionsRadiosDay" id="optionsRadiosDay1" value="option1" checked="checked">
					<strong>PerDay:</strong>
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadiosDay" id="optionsRadiosDay2" value="option2">
				   <strong>Assign:</strong><br>
				     <hr>
					 <div>
					   
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1"> 1&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2"> 2&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox3" value="option3"> 3&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox4" value="option4"> 4&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox5" value="option5"> 5&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox6" value="option6"> 6&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox7" value="option7"> 7&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox8" value="option8"> 8&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox9" value="option9"> 9&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox10" value="option10"> 10
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox11" value="option11"> 11
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox12" value="option12"> 12
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox13" value="option13"> 13
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox14" value="option14"> 14
						</label>
	
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox15" value="option15"> 15
						</label>
					 </div>
					 <div>

						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox16" value="option16"> 16
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox17" value="option17"> 17
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox18" value="option18"> 18
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox19" value="option19"> 19
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox20" value="option20"> 20
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox21" value="option21"> 21
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox22" value="option22"> 22
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox23" value="option23"> 23
						</label>
												<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox24" value="option24"> 24
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox25" value="option25"> 25
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox26" value="option26"> 26
						</label>
	
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox27" value="option27"> 27
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox28" value="option28"> 28
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox29" value="option29"> 29
						</label>
	
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox30" value="option30"> 30
						</label>
					 </div>
					 <div>
					 <label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox31" value="option31"> 31
						</label>
					 </div>
				</label>
			</div>
			<div class="tab-pane" id="tab4">
				<label class="radio">
					<input type="radio" name="optionsRadiosMonth" id="optionsRadiosMonth1" value="option1" checked="checked">
					<strong>PerMonth:</strong>
				</label>
				<label class="radio">
					<input type="radio" name="optionsRadiosMonth" id="optionsRadiosMonth2" value="option2">
				   <strong>Assign:</strong><br>
				     <hr>
					 <div>

						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1"> 1&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2"> 2&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox3" value="option3"> 3&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox4" value="option4"> 4&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox5" value="option5"> 5&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox6" value="option6"> 6&nbsp;&nbsp;
						</label>
						
					 </div>
					 <div>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox7" value="option7"> 7&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox8" value="option8"> 8&nbsp;&nbsp;
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox9" value="option9"> 9&nbsp;&nbsp;
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox10" value="option10"> 10
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox11" value="option11"> 11
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox12" value="option12"> 12
						</label>
						
					 </div>

				</label>
			</div>
			<div class="tab-pane" id="tab5">
				<div>
					<div>
						<label class="checkbox">
							<input type="checkbox" checked="checked">
							<strong>UseWeek</strong>
						</label>
					</div>
					
					<div>
                <label class="radio">
				<input type="radio" name="optionsRadiosWeek" id="optionsRadiosWeek1" value="option1" checked="checked">
					<strong>PerWeek:</strong>
				</label>

				<label class="radio">
					<input type="radio" name="optionsRadiosWeek" id="optionsRadiosWeek2" value="option2">
				   <strong>Assign:</strong><br>
				     <hr>
					 <div>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox1" value="option1"> Sunday
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox2" value="option2"> Monday
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox3" value="option3"> Tuesday
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox4" value="option4"> Wednesday
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox5" value="option5"> Thursday
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox6" value="option6"> Friday
						</label>
						</label>
							<label class="checkbox inline">
							<input type="checkbox" id="inlineCheckbox7" value="option7"> Salurday
						</label>
					 </div>
				</label>
					</div>
				</div>
			</div>
		</div>
	  </div>

