
	<div style="display:none">
		<input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token "/>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Second</th>
				<th>Minute</th>
				<th>Hour</th>
				<th>Day</th>
				<th>Month</th>
				<th>Week</th>
			</tr>
		</thead>
		<tbody>
			<tr class="success">
				<td>0</td>
				<td>{{ minute }}</td>
				<td>{{ hour }}</td>
				<td>{{ day }}</td>
				<td>{{ month }}</td>
				<td>{{ week }}</td>
			</tr>
		</tbody>
	</table>
	


	<table class="table .table-bordered">
				{% for item in times %}
		{% if forloop.first %}
		<tr class="success">
			<td><strong>first start time:</strong></td>
			<td><strong> {{ item }}</strong></td>
		</tr>
		{% endif %}
		<tr class="success">
			<td><strong>execute time{{ forloop.counter }}:</strong></td>
			<td><strong>{{ item }}</strong></td>
		</tr>
				{% endfor %}
	</table>

